.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #F7F8F9;
}

.wrapper .container {
  width: calc(100% - 214px);
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

.wrapper .header-section {
  width: 100%;
}

.wrapper .header-section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .header-section header h1 {
  font-family: "Overpass", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  color: #282E38;
}

.wrapper .main-section {
  width: 100%;
}

.wrapper .main-section .custom-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}