<div class="wrapper">
  <app-sidebar></app-sidebar>
  <main class="container">
    <section class="header-section">
      <header>
        <h1>Pacientes</h1>
        <p-button label="Cadastrar Paciente" icon="pi pi-plus"></p-button>
      </header>
    </section>
    <section class="main-section">
      <p-table #dt [value]="patients" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} pacientes" [globalFilterFields]="['paciente', 'status', 'medicamento']" [rowsPerPageOptions]="[5, 10, 20]" [rowHover]="true" [tableStyle]="{ 'min-width': '50rem', 'font-size': '14px' }">
        <ng-template pTemplate="caption">
          <div class="custom-fields">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Pesquisar" />
            </span>
            <p-dropdown [options]="options" [(ngModel)]="selectedPatient" optionLabel="label" [showClear]="true" placeholder="Selecione um status"></p-dropdown>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="paciente">Paciente <p-sortIcon field="paciente"></p-sortIcon></th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th pSortableColumn="diagnostico">Diagnóstico <p-sortIcon field="diagnostico"></p-sortIcon></th>
            <th pSortableColumn="medicamento">Medicamento <p-sortIcon field="medicamento"></p-sortIcon></th>
            <th pSortableColumn="planoSaude">Plano de Saúde <p-sortIcon field="planoSaude"></p-sortIcon></th>
            <th pSortableColumn="lastUpdate">Última Solicitação <p-sortIcon field="lastUpdate"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient>
          <tr>
            <td>{{ patient.paciente }}</td>
            <td><p-tag [severity]="patient.status ? 'success' : 'danger'">{{ patient.status ? 'Ativo' : 'Inativo' }}</p-tag></td>
            <td>{{ patient.diagnostico }}</td>
            <td>{{ patient.medicamento }}</td>
            <td>{{ patient.planoSaude }}</td>
            <td>{{ patient.lastUpdate | date:'dd/MM/yyyy' }}</td>
            <td style="display: flex; align-items: center;">
              <img src="../../../assets/images/svg/prescription.svg" alt="Prescrição" pTooltip="Nova solicitação" tooltipPosition="bottom">
              <i class="pi pi-ellipsis-h" style="margin-left: 10px;"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </section>
  </main>
</div>